name: slider_2d_navigation
description: A Flutter package for 2D slider navigation with horizontal and vertical cube animations
version: 1.0.0
homepage: https://github.com/halilibrahimavsar/

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true