name: slider_2d_navigation
description: A Flutter package for 2D slider navigation with horizontal and vertical cube animations. Features dynamic mini buttons, sub-menus, and smooth transitions.
version: 1.0.0
homepage: https://github.com/halilibrahimavsar/slider_2d_navigation
repository: https://github.com/halilibrahimavsar/slider_2d_navigation
issue_tracker: https://github.com/halilibrahimavsar/slider_2d_navigation/issues
documentation: https://github.com/halilibrahimavsar/slider_2d_navigation

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true